<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  
  <!-- ======================================================================================= -->
  <!-- Properties                                                                              -->
  <!-- ======================================================================================= -->
  <Properties>
    <Property name="logPattern">%d{DEFAULT} %-5p %-5T (%c{1}) - %m%n</Property>
    <Property name="logMaxSize">10 MB</Property>
    <Property name="logDirectory">${sys:kas.log.dir}</Property>
    <Property name="logFile">${sys:kas.log.file}</Property>
  </Properties>
  
  <!-- ======================================================================================= -->
  <!-- Appenders                                                                               -->
  <!-- ======================================================================================= -->
  <Appenders>
    <Console name="stdout">
      <PatternLayout pattern="${logPattern}" />
    </Console>
    <RollingFile name="file" fileName="${logDirectory}/${logFile}.log" filePattern="${logDirectory}/${logFile}.log.%d{yyyy-MM-dd}.%i">
      <PatternLayout pattern="${logPattern}" />
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="${logMaxSize}" />
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  
  <!-- ======================================================================================= -->
  <!-- Loggers                                                                                 -->
  <!-- ======================================================================================= -->
  <Loggers>
    <logger name="com.kas" level="trace" additivity="false">
      <AppenderRef ref="file"/>
    </logger>
    <Root level="info" additivity="false">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>